@use "rem";
@use "theme";


.books-page {
  .books-content {
    padding: rem.rem(16px) rem.rem(24px);
    margin-top: rem.rem(16px);

    h1 {
      border-bottom: 1px solid theme.$lighter-gray;
      margin-bottom: rem.rem(12px);
    }
  }
}
